* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: arial,sans-serif;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 12px;
}

.list .episode {
  width: 80%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: lavender;
  border: 2px solid peru;
  margin: 15px;
  padding: 8px;
}

.list .episode picture {
  overflow: hidden;
  border-radius: 5px;
  width: 90%;
  display: block;
  margin: auto;
}

.list .episode picture img {
  display: block;
  width: 100%;
}

.list .episode h2 {
  margin: 5px 0px;
}

.list .episode .info {
  margin: 5px 0px;
}

.list .episode .summary {
  height: 200px;
  overflow-y: auto;
  color: darkblue;
}

.list .episode .summary::-webkit-scrollbar {
  width: 3px;
}

.list .episode .summary::-webkit-scrollbar-thumb {
  background-color: peru;
}

@media screen and (min-width: 992px) {
  .list .episode {
    width: 250px;
  }
}

@media screen and (min-width: 992px) {
  .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.header {
  margin: 10px 20px;
  color: crimson;
}

.back {
  margin: 10px 20px;
  padding: 8px 12px;
  background-color: white;
  outline: none;
  border: 2px solid chocolate;
  color: chocolate;
  font-size: 16px;
  cursor: pointer;
}

.back:hover, .back:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 1px chocolate;
          box-shadow: 0px 0px 1px chocolate;
}
/*# sourceMappingURL=result.css.map */