* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: arial,sans-serif;
}

.container {
  margin: 30px auto;
  width: 95%;
}

@media screen and (min-width: 992px) {
  .container {
    width: 50%;
  }
}

.radiobuttons {
  margin-bottom: 30px;
}

.radiobuttons input {
  opacity: none;
  width: 0;
  height: 0;
}

.radiobuttons input:checked + label::before {
  background-color: peru;
  opacity: 1;
}

.radiobuttons input:checked + label {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.radiobuttons label {
  display: inline-block;
  color: crimson;
  opacity: 0.8;
  -webkit-transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms transform ease-in-out;
  transition: 180ms transform ease-in-out, 180ms -webkit-transform ease-in-out;
}

.radiobuttons label::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  vertical-align: middle;
  margin: 0px 8px;
  border: 3px solid peru;
  border-radius: 50%;
  opacity: 0.7;
}

input[type="text"], input[type="number"] {
  border: 2px solid teal;
  border-radius: 3px;
  height: 2em;
  outline: none;
}

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 10px;
}

.input-form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  vertical-align: middle;
}

.input-form label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  vertical-align: middle;
  line-height: 26px;
}

@media screen and (min-width: 992px) {
  .input-form {
    width: 30%;
  }
}

.search_button {
  margin: 10px 40px;
  padding: 8px 12px;
  background-color: white;
  outline: none;
  border: 2px solid sienna;
  color: sienna;
  font-size: 16px;
  cursor: pointer;
}

.search_button:hover, .search_button:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 1px sienna;
          box-shadow: 0px 0px 1px sienna;
}

.unit_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: lavender;
  border: 1px solid lightsalmon;
  margin: 10px 0px;
}

.unit_block div {
  margin-right: 10px;
}

.unit_block button {
  border: 2px solid teal;
  background-color: white;
  color: teal;
  padding: 5px 10px;
  height: 2em;
  outline: none;
  cursor: pointer;
}

.unit_block button:hover, .unit_block button:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 1px teal;
          box-shadow: 0px 0px 1px teal;
}

@media screen and (min-width: 992px) {
  .unit_block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.addmore {
  border: 2px solid;
  background-color: white;
  color: tomato;
  padding: 5px 10px;
  height: 2em;
  outline: none;
  cursor: pointer;
}

.addmore:hover, .addmore:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 1px tomato;
          box-shadow: 0px 0px 1px tomato;
}

.errormessage {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 600;
  margin: 10px;
}
/*# sourceMappingURL=search.css.map */