@import "./normalize";

.list{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-size: 12px;
    .episode{
        width:80%;
        min-height:200px;
        display: flex;
        flex-flow: column wrap;
        background-color: lavender;
        border:2px solid peru;
        margin:15px;
        padding:8px;

        picture{
            overflow: hidden;
            border-radius: 5px;
            width:90%;
            display: block;
            margin:auto; 
            img{
                display: block;  
                width:100%;     
            }
        }

        h2{
            margin:5px 0px;
        }
        .info{
            margin:5px 0px;
        }
        .summary{
            height:200px;
            overflow-y: auto;
            color: darkblue;
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: peru;
            }
        }

        @media screen and(min-width:992px) {
             width:250px;   
        }
    }

    @media screen and(min-width:992px) {
        flex-flow:row wrap;
        align-items: stretch;   
   }
}

.header{
    margin:10px 20px;
    color: crimson;
}
.back{
    margin:10px 20px;
    padding: 8px 12px;
    background-color: white;
    outline: none;
    border:2px solid chocolate;
    color:chocolate;
    font-size:16px;
    cursor: pointer;

    &:hover,&:focus{
        transform: scale(1.05);
        box-shadow: 0px 0px 1px chocolate;
    }
}
