@import "./normalize";

@mixin hoverstyle($color){
    &:hover,&:focus{
        transform: scale(1.05);
        box-shadow: 0px 0px 1px $color;
    }
}
.container{
    margin:30px auto;
    width:95%;

    @media screen and (min-width:992px){
         width: 50%;   
    }
}

.radiobuttons{
    margin-bottom:30px;
    input{
       opacity: none;
       width: 0;
       height: 0;
       &:checked + label::before{
           background-color:peru;
           opacity: 1;
       }
       &:checked + label{
        opacity: 1;
        transform: scale(1.05);
        }
    }
    label{
        display: inline-block;
        color: crimson;
        opacity: 0.8;
        transition: 180ms transform ease-in-out;
    }
    label::before{
        content: "";
        cursor: pointer;
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        vertical-align: middle;
        margin:0px 8px;
        border:3px solid peru;
        border-radius: 50%;
        opacity: 0.7;
    }
    
}

input[type="text"],input[type="number"]{
    border:2px solid teal;
    border-radius: 3px;
    height:2em;
    outline: none;
}

.input-form{
    display: flex;
    width: 70%;
    margin:10px;
    input{
        flex: 1;
        vertical-align: middle;
    }
    label{
        flex:1;
        vertical-align: middle;
        line-height: 26px;
    }

    @media screen and (min-width:992px){
         width: 30%;
    }
}


.search_button{
    margin:10px 40px;
    padding: 8px 12px;
    background-color: white;
    outline: none;
    border:2px solid sienna;
    color:sienna;
    font-size:16px;
    cursor: pointer;

    @include hoverstyle(sienna)
}



.unit_block{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    background-color: lavender;
    border:1px solid lightsalmon;
    margin:10px 0px;
    div{
        margin-right:10px;
    }
    button{
        border:2px solid teal;
        background-color: white;
        color: teal;
        padding:5px 10px;
        height:2em;
        outline: none;
        cursor: pointer;
        @include hoverstyle(teal)
    }

    @media screen and(min-width:992px){
    flex-flow: row wrap;        
    }
}

.addmore{
    border:2px solid ;
    background-color: white;
    color: tomato;
    padding:5px 10px;
    height:2em;
    outline: none;
    cursor: pointer; 
    @include hoverstyle(tomato)
}

.errormessage{
    color:rgba(255,0,0,0.7);
    font-weight: 600;
    margin:10px;

}